@using Microsoft.Extensions.Configuration
@using PeD.Core.Extensions
@inject IConfiguration Configuration
@model PeD.Views.Email.RecoverAccount;
@{
    Layout = "_EmailBase";
}
@{
    var appName = Configuration.GetValue<string>("AppName");
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{
    Instruções para redefinição de senha
    <br>
    do @appName
}

@section Action
{
    <a href="@url/nova-senha/?email=@Model.Email&token=@Model.Token.ToBase64()" style="display: inline-block; background: linear-gradient(0deg,#07626a,#007984); color:#d3f1ee; border-radius: 10px; font-size: 22px; padding: 10px 32px; text-decoration: none; text-transform: uppercase;">
        Gerar Senha
    </a>
}


<p>
    Alguém solicitou que a senha fosse redefinida para a seguinte conta:
</p>
<p>
    <span style="color: #007984">
        Usuário:
        @Model.Email
    </span>
</p>
<p>
    Se isso foi um engano, apenas ignore este e-mail e nada acontecerá.
</p>

<p>
    Para redefinir sua senha, clique no botão abaixo:
</p>