@model PeD.Views.Email.SimpleMail

@{
    Layout = "_EmailBase";
}

@section Header
{
    @Model.Titulo
}

@Html.Raw(Model.Conteudo)

@section Action
{
    @if (!string.IsNullOrWhiteSpace(Model.ActionLabel))
    {
        <a href="@Model.ActionUrl" style="display: inline-block; background: linear-gradient(0deg,#07626a,#007984); color:#d3f1ee; border-radius: 10px; font-size: 22px; padding: 10px 32px; text-decoration: none; text-transform: uppercase;">
            @Model.ActionLabel
        </a>
    }
}