@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@model PeD.Views.Email.Captacao.Propostas.NovoPlanoTrabalho

@{
    Layout = "_EmailBase";
}
@{
    var url = Configuration.GetValue<string>("Url");
}

@section Header
{
    O fornecedor @Model.Fornecedor enviou uma nova versão do
    Plano de Trabalho para aprovação referente ao
    projeto "@Model.Captacao.Titulo"
}

<p>
    Por favor clique no link abaixo para mais detalhes:
</p>

@section Action
{
    <a href="@url/refinamento/proposta/@Model.PropostaGuid/envio" style="display: inline-block; background: linear-gradient(0deg,#07626a,#007984); color:#d3f1ee; border-radius: 10px; font-size: 22px; padding: 10px 32px; text-decoration: none; text-transform: uppercase;">
        Ver Proposta
    </a>
}